<div id="content-block">
    {% for game_preview in game_previews %}
        {% set classname = "game-preview-card" %}
        {% if loop.first %}
            {% set classname = "game-preview-card first-card" %}
        {% endif %}
        <div class="{{ classname }}" href="{{ game_preview.url }}">
            <a class="a-preview" href="{{ game_preview.url }}">
                <img class="img-preview" width="100px" height="140px" src="{{ game_preview.image }}" alt="" srcset="">
            </a>
            <div class='preview-data'>
                <span class="title" href="{{ game_preview.url }}">{{ game_preview.title }}</span>
                <div class="desc"></div>
            </div>
        </div>
    {% endfor %}
    <div class="last-card-for-pagination">

    </div>

<link rel="stylesheet" href="../static/styles/gp_content_block.css">
