{% if pages %}
    <div id="pagination-block">
        <center>
            {% for page in pages %}
                {% if page[1] != 'current' %}
                    {% if page[1] %}
                        <span class='page-btn' onclick="render_gp_content('/{{ page[1] }}')">{{ page[0] }}</span>
                    {% else %}
                        <span class='page-btn page-btn-none'>{{ page[0] }}</span>
                    {% endif %}
                {% else %}
                    <span class='page-btn page-btn-current'>{{ page[0] }}</span>
                {% endif %}
            {% endfor %}
        </center>
    </div>
{% endif %}

<style>
    #pagination-block {
        width: 780px;
        height: 30px;
        padding: 10px;
        padding-top: 25px;
        padding-bottom: 30px;
    
        background-color: whitesmoke;

        margin-left: -20px;
        margin-top: 0px;

        display: block;
        position: fixed;
        bottom: 0px;

        background-color: rgb(70, 70, 70);
        color: wheat;
    }
    center::selection {
        background: none;
        background-color: none;
    }
    center:hover {
        cursor: context-menu;
    }

    .page-btn {
        height: 30px;
        width: 40px;

        padding-top: 10px;

        text-align: center;
        display: inline-block; /* or block */

        border-radius: 5px;
        background-color: rgb(30, 30, 30);

        cursor: pointer;
    }

    .page-btn-none {
        background-color: transparent;
        cursor: context-menu;
        width: 0px;
        border: 1px solid rgb(30, 30, 30);
        color: transparent;
    }

    .page-btn-current {
        color: rgb(255, 255, 255);
        cursor: context-menu;
        background-color: transparent;
        border: 3px solid rgb(30, 30, 30);
    }
</style>