{% if pages %}
    <div id="pagination-block">
        <center>
            {% for page in pages %}
                {% if page[1] != 'current' %}
                    {% if page[1] %}
                        <span class='page-btn' onclick="render_gp_content('/{{ page[1] }}')">{{ page[0] }}</span>
                    {% else %}
                        <span class='page-btn page-btn-none'>{{ page[0] }}</span>
                    {% endif %}
                {% else %}
                    <span class='page-btn page-btn-current'>{{ page[0] }}</span>
                {% endif %}
            {% endfor %}
        </center>
    </div>
{% endif %}

<link rel="stylesheet" href="../static/styles/pagination_block.css">
