.game-preview-card {
    height: 150px;
    width: 750px;
    text-align: right center;
    border-radius: 10px;
    border: none;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: auto;
    display: inline-flex;
}

.game-preview-card img {
    border-radius: 10px;
}

.game-preview-card:hover {
    background-color: rgb(224, 224, 224);
}

.first-card {
    margin-top: 0px;
}

.preview-data {
    padding-left: 10px;
    padding-right: 10px;
}

.desc {
    margin-top: 10px;
}

.title {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    height: 30px;
}

.last-card-for-pagination {
    height: 100px;
    width: 750px;
    text-align: right center;
    border-radius: 10px;
    border: none;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: auto;
    display: inline-flex;
}