.top-nav {
    z-index: 1;
    display: flex;
    height: 50px;
    padding-top: 2px;
    margin-top: -10px;
    margin-left: -10px;
    width: 100%;
    min-width: 800px;
    background-color: whitesmoke;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.top-nav-btn {
    width: 100px;
    height: 50px;
    font-size: 1em;
    text-align: center;
    background-color: whitesmoke;
    border: none;
    font-family: 'Palatino';
    cursor: pointer;
}

.top-nav-btn:hover {
    color: rgb(255, 198, 41);
}

.first-top-nav-btn {
    width: 100px;
    height: 50px;
    font-size: 1em;
    text-align: center;
    background-color: whitesmoke;
    border: none;
    font-family: 'Palatino';
    cursor: pointer;
    border-bottom-left-radius: 10px;
}

.first-top-nav-btn:hover {
    color: rgb(0, 162, 255);
}